<h1 class="second" style="color: red;"> {{title}} </h1>
<div class="panel panel-primary">
    <div class="panel panel-heading">
        <h4 class="second"> {{desc}}</h4>
    </div>

    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-2">
                Filter
            </div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="userText"/>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4> Number of Products Filter on the basis of {{userText}} is 
                    <!--{{(products | SearchPipe:userText).length}}-->
                </h4>
            </div>
        </div>
        <table class="table" *ngIf="products && products.length ; else loading">
            <thead>
                <tr>
                    <th><button class="btn btn-danger" (click) = "toggleImage()">
                        {{ showImage ? "Hide Image":"Show Image"}}</button></th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Price</th>
                    <th>Rating</th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let prod of products | SearchPipe : userText">
                    <td><img [src]= "prod.imageUrl" [style.width.px]="imageWidth" *ngIf="showImage"/></td>
                    <td><a [routerLink]="['/products',prod.productId]">
                        {{prod.productName | myUpperCase :'upper'}}
                    </a></td>
                    <td>{{prod.productCode | myUpperCase : 'lower'}}</td>
                    <td appColor>{{prod.price | Discount:1 | currency : "GBP"}}</td>
                    <td>
                       <app-star [rating]="prod.starRating"
                        (ratingClicked)="dataReceive($event)"></app-star>

                      <!--  <ngb-rating [(rate)]="currentRate"></ngb-rating>-->
                        
                        <!--<app-star-rating [rating]="prod.starRating"></app-star-rating>-->
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-template #loading>
            <img src="../../assets/loaderImage.gif"/>
        </ng-template>
    </div>
</div>


<!--
    [queryParams]="{name:prod.productName,img:prod.imageUrl,details:prod.description}"
-->